GMAIL_FROM_EMAIL=
GMAIL_SMTP_HOST=smtp.gmail.com
GMAIL_SMTP_PASSWORD=
GMAIL_SMTP_PORT=465
GMAIL_SMTP_USER=
MAIL_FROM=f
OWNER_EMAIL=
OWNER_DASHBOARD_USERNAME=
OWNER_DASHBOARD_PASSWORD=0
PAYSTACK_SECRET_KEY=PUT YOUR PAYSTACK SECRET